* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: aliceblue; */
}
.container {
  background-color: bisque;
  border-radius: 30px;
  border: 0.5rem solid #0000;
  padding: 5rem 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#number {
    font-size: 15rem;
    
}

#counter-btn button{
padding: 1rem;
color: orangered;
}
